

@{
    ViewBag.Title = "Riwayat Cuti Karyawan";
    Layout = "~/Views/MasterLayout/MasterUser.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2>Riwayat Cuti Karyawan @Session["user_nip"].ToString()</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <button id="btnCuti" onclick="BtnClick()" class="btn btn-primary" 
                        data-toggle="modal" data-target="#mymodal">
                            <i class="glyphicon glyphicon-eye-open"></i> Kuota Cuti</button>
            </div>

            <table id="tblCuti" class="table table-striped table-bordered table-sm-striped">
                <thead>
                    <tr>
                        <th style="text-align:center" scope="col" width="200px" height=20px>Tanggal Mulai Cuti</th>
                        <th style="text-align:center" scope="col" width="200px" height=20px>Tanggal Selesai Cuti</th>
                        <th style="text-align:center" scope="col" width="350px" height=20px>Alasan Cuti</th>
                        <th style="text-align:center" scope="col" width="100px" height=20px>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:dodgerblue">
                <h3 class="modal-title">
                <i class="glyphicon glyphicon-eye-open"></i> Informasi Detail Cuti</h3>
            </div>
            <div class="modal-body row">
                <form id="formCuti" name="formCuti">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span id="spNIP"><strong>NIP</strong></span>
                            <input type="text" name="txtNIP" class="form-control" id="txtNIP" style="width:250px" disabled />
                        </div>
                        <div class="form-group">
                            <span id="spanNo"><strong>No Telepone</strong></span>
                            <input type="text" name="txtNO" id="txtNo" class="form-control" style="width:250px" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-left:80px">
                            <span id="spanTglM"><strong>Tanggal Mulai Cuti</strong></span>
                            <input type="text" name="txtTglMulai" id="txtTglMulai" class="form-control" style="width:250px" disabled />
                        </div>
                        <div class="form-group" style="margin-left:80px">
                            <span id="spanTglS"><strong>Tanggal Selesai Cuti</strong></span>
                            <input type="text" name="txtTglSelesai" id="txtTglSelesai" class="form-control" style="width:250px" disabled />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span id="spanAlasan"><strong>Alasan Cuti</strong></span>
                            <textarea name="txtAlasan" id="txtAlasan" class="form-control" style="width:530px" disabled></textarea>
                        </div>
                        <div class="form-group">
                            <span id="spAlamat"><strong>Alamat</strong></span>
                            <textarea name="txtAlamat" id="txtAlamat" class="form-control" style="width:530px" disabled></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="refresh()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript">
         $.get(
                 '@Url.Action("getcutikaryawan")',
                 function (data) {
                     $( "#tblCuti tbody").empty();
                     $.each(data, function (i, model) {
                         var date1 = `${model.value1}`
                         var date2 = `${model.value2}`
                         //var button = `<button id="${model.id_req}" class='btn btn-danger'>Delete</button>`
                         var a = `<a id="${model.id_cuti}" data-toggle="modal" data-target="#mymodal" class='glyphicon glyphicon-eye-open'></a>`
                         var rows = `<tr>
                                        <td style="text-align:center" height=30px >${date1}</td >
                                        <td style="text-align:center" height=30px > ${date2}</td >
                                        <td style="text-align:center" height=30px>${model.alasan_cuti}</td>
                                        <td style="text-align:center" height=30px>${a}</td>
                                    </tr >`;
                         $("#tblCuti tbody").append(rows);
                     });
                     $("#tblCuti").DataTable();
                 });

        $("#tblCuti").on("click", "a", function (e) {
            $.get(`getDetailcutikaryawan/${e.target.id}`, function (data) {
                $.each(data, function (i, model) {
                        $("#txtNIP").val(`${model.NIP}`);
                        $("#txtTglMulai").val(`${model.value1}`);
                        $("#txtTglSelesai").val(`${model.value2}`);
                        $("#txtAlasan").val(`${model.alasan_cuti}`);
                        $("#txtNo").val(`${model.no_tlp}`);
                        $("#txtAlamat").val(`${model.alamat}`);
                    });
                });

        });

        function BtnClick() {
            $.get('GetKuotaCutiKaryawan', function (data) {
                $.each(data, function (i, model) {
                    $("#spNIP").html('<strong>Sisa Cuti</strong>');
                    $("#spanNo").html('<strong>Cuti Baru</strong>');
                    $("#spanTglM").html('<strong>Expire Sisa Cuti</strong>');
                    $("#spanTglS").html('<strong>Expire Cuti Baru</strong>');
                    $("#spAlamat").hide();
                    $("#spanAlasan").hide();
                    $("#txtAlasan").hide();
                    $("#txtAlamat").hide();
                    $("#txtNIP").val(`${model.sisa_cuti}`);
                    $("#txtTglMulai").val(`${model.value2}`);
                    $("#txtTglSelesai").val(`${model.value1}`);
                    $("#txtNo").val(`${model.cuti_baru}`);
                });
            });
        };

        function refresh() {
            location.reload();
        }
    </script>
}
