
@{
    ViewBag.Title = "Request Surat Keterangan Kerja";
    Layout = "~/Views/MasterLayout/MasterUser.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2>Request Surat Keterangan kerja</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <form id="formKJ" name="formKJ">
            <div class="form-group">
                <span>Tanggal Request</span>
                <input type="date" name="txtTgl" id="txtTgl" placeholder="ID" class="form-control" style="width:500px" />
            </div>

            <div class="form-group">
                <span>Jabatan</span>
                <input type="text" name="txtjabatan" id="txtjabatan" placeholder="Jabatan" class="form-control" style="width:500px" />
            </div>

            <div class="form-group">
                <span>Alamat</span>
                <textarea name="txtAlamat" id="txtAlamat" maxlength="150" class="form-control" onkeyup="hitungtext()" style="width:500px"></textarea>
                <span id="hasil">0</span>/150 Karakter
            </div>

            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
        @Html.ActionLink("Back to List", "ViewKKRJ")
    </div>
</div>

@section script{
    <script type="text/javascript">

            $("#formKJ").on("submit", function (e) {
                e.preventDefault();
                let formdata = $("#formKJ").serialize();
            $.ajax({
                url: '@Url.Action("AddKKRJ", "User")',
                type: 'POST',
                data: formdata,
                success: function (data) {
                    alert(data);
                    refresh();
                },
                error: function () {
                    alert("Insert Data Failed");
                    refresh();
                }
            });
        });

        function refresh() {
            $("#txtTgl").val("");
            $("#txtjabatan").val("");
            $("#txtAlamat").val("");

            var total = document.getElementById('hasil');
            total.innerHTML = 0;
        }
        function hitungtext() {
            var teks = document.formKJ.txtAlamat.value.length;
            var total = document.getElementById('hasil');
            total.innerHTML = teks;
        }
        @*$('#txtNIP').change(function () {
            $('#lblcheck').html("Checking....");
            $.post('@Url.Action("GetNama")',
                {
                    id: $("#txtNIP").val()
                },
                function (data) {
                    if (data == 0) {
                        $('#lblcheck').html('<font color="Red">NIP Tidak Terdaftar</font>');
                        $('#txtNIP').css("border-color", "red");
                    }
                    else {
                        $('#txtNIP').css("border-color","black");
                        $('#lblcheck').html(``);
                        $('#txtNama').val(`${data}`);
                    }
                });
        });*@

    </script>

}

