
@{
    ViewBag.Title = "Request Surat Keterangan Kerja";
    Layout = "~/Views/MasterLayout/MasterUser.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2>Request Surat Keterangan Membuat NPWP NIP: @Session["user_nip"].ToString()</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">
                   <i class="glyphicon glyphicon-plus"></i>Add Request</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <table id="tblNPWP" class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th style="text-align:center" scope="col" width="200px" height=25px>ID Request</th>
                            <th style="text-align:center" scope="col" width="200px" height=25px>Tanggal Request</th>
                            <th style="text-align:center" scope="col" width="150px" height=25px>No Tlp</th>
                            <th style="text-align:center" scope="col" width="300px" height=25px>Alamat Kantor Pajak</th>
                            <th style="text-align:center" scope="col" width="200px" height=25px>Status</th>
                            <th style="text-align:center" scope="col" width="150px" height=25px>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="mymodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Request Surat Keterangan Membuat NPWP</h3>
            </div>
            <div class="modal-body">
                <form id="formNPWP" name="formNPWP">
                    <div class="form-group" hidden>
                        <input type="text" name="txtIDReq" id="txtIDReq" placeholder="ID" class="form-control" style="width:500px" required />
                    </div>

                    <div class="form-group">
                        <span>No Tlp</span>
                        <input type="text" name="txtNoTlp" id="txtNoTlp" maxlength="15" pattern="[0-9]{3,4}[-][0-9]+" placeholder="e.x 021-373737" class="form-control" style="width:500px" required />
                    </div>

                    <div class="form-group">
                        <span>Alamat Kantor Pajak</span>
                        <textarea name="txtAlamat" id="txtAlamat" class="form-control" onkeyup="hitungtext()" maxlength="150" style="width:500px" required></textarea>
                        <span id="hasil">0</span>/150 Karakter
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnSubmit" class="btn btn-success" value="Submit" />
                <button type="button" onclick="refresh()" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript">
        $("#btnSubmit").on("click", function (e) {
            e.preventDefault();
            let formdata = $("#formNPWP").serialize();

            if ($("#txtNoTlp").val().length == 0) {
                alert("Cek Kembali Inputan Anda");
                $("#txtNoTlp").focus();
            }

            if ($("#txtAlamat").val().length == 0) {
                alert("Cek Kembali Inputan Anda");
                $("#txtAlamat").focus();
            }

            else if ($("#txtNoTlp").val().length != 0 && $("#txtAlamat").val().length != 0) {
                if ($("#txtIDReq").val().length == 0) {
                var check = confirm('Are you sure to input data?')
                    if (check == true) {
                        $.ajax({
                            url: '@Url.Action("AddNPWP","User")',
                            type: 'POST',
                            data: formdata,
                            success: function (data) {
                                alert(data);
                                refresh();
                            },
                            error: function () {
                                alert("Insert Data Failed");
                                refresh();
                                $("#mymodal").modal('toggle');
                            }
                        });
                    } else {
                        return false;
                         }
                } else if ($("#txtIDReq").val().length != 0) {
                     var check = confirm("Are you sure to update data?")
                        e.preventDefault();
                    let formdata = $("#formNPWP").serialize();
                    if (check == true) {
                        $.ajax({
                            url: '@Url.Action("UpdateNPWP","User")',
                            type: 'POST',
                            data: formdata,
                            success: function (data) {
                                alert(data);
                                refresh();
                            },
                            error: function () {
                                alert("Update Data Failed")
                                refresh();
                                $("#mymodal").modal('toggle');
                            }
                        });
                    } else {
                        return false
                    }
                }
            }

        });

        function hitungtext() {
            var teks = document.formNPWP.txtAlamat.value.length;
            var total = document.getElementById('hasil');
            total.innerHTML = teks;
        }
         $.get(
        '@Url.Action("GetNPWP")',
                 function (data) {
                     $( "#tblNPWP tbody").empty();
                     $.each(data, function (i, model) {
                         var date = `${model.value}`
                         var button = `<button id="${model.id_req}" class='btn btn-danger'>
                            <i class="glyphicon glyphicon-trash"></i></button>`
                         var a = `<a id="${model.id_req}" data-toggle="modal" data-target="#mymodal" class='btn btn-primary'>
                            <i class="glyphicon glyphicon-edit"></i></a>`
                         if (model.status == "requested") {
                             var rows = `<tr>
                                        <td style="text-align:center" height=25px>${model.id_req}</td>
                                        <td style="text-align:center" height=25px >${date}</td >
                                        <td style="text-align:center" height=25px > ${model.no_tlp}</td >
                                        <td style="text-align:center" height = 25px > ${ model.alamat_kantor_pajak}</td >
                                        <td style="text-align:center" height = 25px > ${ model.status}</td >
                                        <td style="text-align:center" height=25px >  ${a} ${button} </td >
                                    </tr >`;
                         } else if (model.status != "requested") {
                             var rows = `<tr>
                                        <td style="text-align:center" height=25px>${model.id_req}</td>
                                        <td style="text-align:center" height=25px >${date}</td >
                                        <td style="text-align:center" height=25px > ${model.no_tlp}</td >
                                        <td style="text-align:center" height = 25px > ${ model.alamat_kantor_pajak}</td >
                                        <td style="text-align:center" height = 25px > ${ model.status}</td >
                                        <td height=50px ></td >
                                    </tr >`;
                         }


                         $("#tblNPWP tbody").append(rows);
                     });
                     $("#tblNPWP").DataTable();
                });

        function refresh() {

            location.reload();
            $("#txtTgl").val("");
            $("#txtNoTlp").val("");
            $("#txtAlamat").val("");
            var total = document.getElementById('hasil');
            total.innerHTML = 0;

        }

        $("#tblNPWP").on("click", "button", function (e) {
            var checkstr = confirm(`are you sure you want to delete Request ${e.target.id}?`);
            if (checkstr == true) {
                $.get(`DeleteNPWP/${e.target.id}`, function (data) {
                    alert(data);
                    refresh();
                });
            } else {
                return false;
            }
        });

        $("#tblNPWP").on("click", "a", function (e) {
            var checkstr = confirm(`are you sure you want to Update Request ${e.target.id}?`);
            if (checkstr == true) {
                $.get(`EditNPWP/${e.target.id}`, function (data) {
                    $("#txtIDReq").val(`${data.id_req}`);
                    $("#txtNoTlp").val(`${data.no_tlp}`);
                    $("#txtAlamat").val(`${data.alamat_kantor_pajak}`);
                });
            } else {
                return false;
            }
        });
    </script>


}

